* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #fff;
	color: black;
	overflow-x: hidden;
}

h1,
h2 {
	font-weight: 400;
	max-width: none;
}

p {
	margin: 0;
}
.comparisonSection {
	position: relative;
	padding-bottom: 56.25%; /* to maintain aspect ratio (responsive!) */
}
.comparisonImage {
	width: 100%;
	height: 100%;
}
.afterImage {
	position: absolute;
	overflow: hidden;
	top: 0;
	transform: translate(100%, 0px);
}
.afterImage img {
	transform: translate(-100%, 0px);
}
.comparisonImage img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}

.item {
	width: 56%;
	overflow: visible;
	stroke: #000;
	stroke-width: 10;
	stroke-linejoin: miter;
	stroke-linecap: round;
}

section,
footer {
	display: flex;
	height: 100vh;
	width: 100%;
}
.left-col,
.middle-col,
.right-col,
.full-col {
	height: 100vh;
	margin: 0;
}
.width-0 {
	width: 0;
}
.width-33 {
	width: 33.33%;
}
.width-66 {
	width: 66.66%;
}
.width-100 {
	width: 100%;
}
#landing-page .full-col {
	background-color: grey;
}
#rooms .left-col {
	background-color: red;
}
#rooms .right-col {
	background-color: pink;
}
#you .middle-col {
	background-color: green;
}
#you .left-col,
#you .right-col {
	background-color: palegreen;
}
#near .right-col {
	background-color: blue;
}
#near .left-col {
	background-color: lightblue;
}
footer {
	background-color: black;
	color: white;
}
